// 2020-05-27
@i: '../BlushMe_Checkout/i/';
#form-validate.form-cart {
	float: none;
	padding-right: 0;
	width: initial;
	// 2020-05-20
	// It hides the standard cart actions: «Continue shopping» / «Clear Shopping Cart» / «Update Shopping Cart»:
	// https://github.com/magento/magento2/blob/2.3.5-p1/app/code/Magento/Checkout/view/frontend/templates/cart/form.phtml#L51-L76
	> .actions {display: none;}
	> .cart.table-wrapper {
		padding: 0;
		table#shopping-cart-table {
			> thead {display: none;}
			> tbody {
				border-bottom: 0 !important;
				border-top: 1px solid #E5E5E5;
				display: table;
				width: 100%;
				&:first-of-type {border-top: 1px solid #ffffff !important;}
				td {
					padding-bottom: 10px; padding-top: 10px; vertical-align: middle;
					&.delete {
						padding-right: 20px;
						&.delete-special-price {
							padding-right: 30px !important;
						}
						> .actions-toolbar {
							min-height: auto; padding-bottom: 0; text-align: right;
							> a.action-delete {
								color: #3c3c3b; position: relative;
								&:before {
									// 2020-05-28
									// Chrome still does not support `mask` without the `-webkit-` prefix:
									// https://caniuse.com/#feat=css-masks
									-webkit-mask-image: url("@{i}cross.svg");
									-webkit-mask-position: center;
									-webkit-mask-repeat: no-repeat;
									-webkit-mask-size: 14px;
									background-color: #3c3c3b;
									content: '';
									height: 14px;
									mask-image: url("@{i}cross.svg");
									mask-position: center;
									mask-repeat: no-repeat;
									mask-size: 14px;
									vertical-align: middle;
									width: 24px;
								}
							}
						}
					}
					&.item {
						display: table-cell;
						width: 48.5%;
					}
					&.qty {
						position: relative;
						text-align: left;
						> button {
							border: none;
							display: inline-block;
							font-weight: normal;
							margin-bottom: 0;
							margin-left: 20px;
							padding: 9px 15px;
						}
						> div.qty.field {
							display: inline-block;
							> div.qty.control {
								display: inline-block;
							}
							> label.label-qty {
								display: inline-block;
								font-size: 1.2em;
								margin-right: 10px;
								text-transform: uppercase;
							}
						}
					}
					&.subtotal {
						padding-right: 50px;
						text-align: right;
					}
				}
			}
			.old-price {text-decoration: line-through;}
		}
	}
}