// 2020-06-03
&.item {
	display: table-cell;
	width: 48.5%;
	@media (min-width: 768px) {padding: 20px 8px 20px 0;}
	@media (max-width: 767px) {width: auto !important;}
	> a.product-item-photo {
		float: left;
		padding-left: 0px;
		padding-right: 30px;
		position: inherit;
		top: auto;
		width: auto;
		@media (max-width: 767px) {
			float: none;
			left: 0px;
			max-width: 100%;
			padding-left: 0px;
			position: absolute;
			width: 100%;
		}
	}
	> .product-item-details {
		float: left;
		padding-bottom: 7px;
		padding-left: 10px;
		padding-top: 7px;
		vertical-align: middle;
		width: 300px;
		@media (max-width: 767px) {
			padding-left: 10px !important;
			padding-top: 0px !important;
			width: auto !important;
		}
		> .brand {
			font-size: 14px;
			line-height: 22px;
			text-transform: uppercase;
		}
		> .product_explanation {min-height: 32px;}
		> .product-item-name {
			font-size: 1.3em;
			font-weight: 700;
			margin: 0;
			max-width: 400px;
			text-transform: uppercase;
		}
		@media (max-width: 767px) {
			> .tablet-mobile-show.qty {
				button.action.primary.checkout {
					background: rgb(60, 60, 59);
					border-color: initial;
					border-image: initial;
					border-style: none;
					border-width: initial;
					font-weight: 700;
					margin-top: 10px;
					padding: 8.5px 15px;
				}
				> .field.qty {
					> .control.qty {
						display: inline-block;
						input.qty {
							border-color: initial;
							border-image: initial;
							border-style: none;
							border-width: initial;
							height: 37px;
							text-align: center;
							width: 29px;
						}
					}
				}
			}
		}
	}
}