// 2020-06-03
&.item {
	display: table-cell;
	padding-left: 1%;
	width: 47.5%;
	> a.product-item-photo {
		float: left;
		padding-left: 0px;
		padding-right: 30px;
		position: inherit;
		top: auto;
		width: auto;
	}
	> .product-item-details {
		float: left;
		padding-bottom: 7px;
		padding-left: 10px;
		padding-top: 7px;
		vertical-align: middle;
		width: 300px;
		> .brand {
			font-size: 14px;
			line-height: 22px;
			text-transform: uppercase;
		}
		> .product_explanation {min-height: 32px;}
		> .product-item-name {
			font-size: 1.3em;
			font-weight: 700;
			margin: 0;
			max-width: 400px;
			text-transform: uppercase;
		}
	}
}