<?xml version='1.0'?>
<config
	xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance'
	xsi:noNamespaceSchemaLocation='urn:magento:framework:Event/etc/events.xsd'
>
<!-- 2020-05-27
"Customers should be redirected from the `/checkout/cart` page to the Klarna checkout page":
https://github.com/blushme/core/issues/4 -->
	<event name='controller_action_predispatch_checkout_cart_index'>
		<observer
			instance='BlushMe\Checkout\Observer\ControllerActionPredispatch\CheckoutCartIndex'
			name='BlushMe\Checkout\Observer\ControllerActionPredispatch\CheckoutCartIndex'
		/>
	</event>
</config>