<?xml version='1.0'?>
<config
    xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance'
    xsi:noNamespaceSchemaLocation='urn:magento:module:Magento_Config:etc/system_file.xsd'
>
	<system>
		<tab id='seavus' sortOrder='200' translate='label'>
			<label>Seavus</label>
		</tab>
		<section
            id='klarna'
            showInDefault='1' showInStore='1' showInWebsite='1'
            sortOrder='110'
            translate='label'
        >
			<class>separator-top</class>           
			<label>Klarna Checkout</label>
			<tab>seavus</tab>
			<resource>Seavus_Klarna::config_klarna</resource>
			<group
                id='settings'
                showInDefault='1' showInStore='0' showInWebsite='1'
                sortOrder='10'
                translate='label'
                type='text'
            >
				<label>Settings</label>
				<hide_in_single_store_mode>0</hide_in_single_store_mode>
				<field
                    id='extra_sell_status'
                    showInDefault='1' showInStore='0' showInWebsite='1'
                    sortOrder='5'
                    translate='label'
                    type='select'
                >
					 <label>Extra Sell Enabled</label>
					 <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				</field>
				<field
                    id='extra_sell_title'
                    showInDefault='1' showInStore='0' showInWebsite='1'
                    sortOrder='6'
                    translate='label'
                    type='text'
                >
					 <label>Extra Sell Title</label>
					 <depends>
						<field id='*/*/extra_sell_status'>1</field>
					 </depends>
				</field>
				<field
                    id='extra_sell_description'
                    showInDefault='1' showInStore='0' showInWebsite='1'
                    sortOrder='7'
                    translate='label'
                    type='editor'
                >
					 <label>Extra Sell Description</label>
					 <frontend_model>Seavus\Products\Block\Adminhtml\System\Config\Editor</frontend_model>
					 <depends>
						<field id='*/*/extra_sell_status'>1</field>
					</depends>
				</field>
				 <field
                     id='extra_sell_products'
                     showInDefault='1' showInStore='0' showInWebsite='1'
                     sortOrder='8'
                     translate='label'
                     type='text'
                 >
					 <label>Extra Sell Products</label>
					 <depends>
						<field id='*/*/extra_sell_status'>1</field>
					 </depends>
				</field>
			</group>
		</section>
	</system>
</config>  