// 2020-06-07
> .cross-sell-products-container {
    background: #fff; text-align: center;
	> .block {
		> .title {
			text-align: center;
			> #block-related-heading {font-size: 2rem !important; padding-top: 20px;}
		}
		> .content {
			max-width: 600px; margin: 0 auto; width: 100%;
			> .products {
				margin-bottom: 0 !important;
				padding-bottom: 20px;
				button.tocart {
					font-size: 1.1rem;
					padding: 8px 15px;
					width: 100%;
				}
			}
		}
	}
}